.sidebar-width {
  min-width: 300px;
  max-width: 350px;
}

.w-20 {
  width: 20%;
}

.w-80 {
  width: 80%;
}
.collapsed-sidebar-width {
  width: 6%;
}

.collapsed-content-width {
  width: 94%;
}

.nav-h {
  height: 60px;
}

.sidebar-logo {
  width: 50px;
}

.layout-content {
  min-height: calc(100vh - 60px);
  max-height: calc(100vh - 60px);
  overflow-y: auto;
  // &::-webkit-scrollbar {
  //   width: 10px;
  // }
  // &::-webkit-scrollbar-track {
  //   background: #2c2e3e;
  // }

  // &::-webkit-scrollbar-thumb {
  //   background: #888;
  //   border-radius: 5px;
  // }
}

.layout-light {
  background: #f4f4f4;
}
.layout-dark {
  background: #1a1a1a;
}

.sun:hover{
  background-color: black;
}

.moon:hover{
  background-color: white;
}
/* Media query for mobile devices */
@media only screen and (max-width: 767px) {
  .w-20 {
    width: 0%;
  }
  .w-80 {
    width: 100%;
  }
  .collapsed-sidebar-width {
    width: 0%;
  }
  .collapsed-content-width {
    width: 100%;
  }
  .layout-content {
    min-height: calc(100vh - 130px);
    max-height: calc(100vh - 130px);
    overflow-y: auto;
    overflow-x: hidden;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .sidebar-logo {
    width: 40px;
  }
}

.admin-wheel {
  position: fixed;
  right: 10px;
  top: 50%;
  background-color: rgb(136, 128, 128);
  border-radius: 10px;
  cursor: pointer;
}
