.profile-container {
  padding: 1vh 5vw;
}

.profile-image {
  border-radius: 50%;
}

.profile-post-img {
  height: 280px;
  width: 280px;
  border: 2px solid transparent;
  border-bottom: 0px !important;
}
