* {
  margin-bottom: 0;
}

:root {
  --base-font-size: 16px;

  --primaryColor: #e3437f;

  --theme-text-color: #000000;
  --theme-text-secondary-color: #222222;

  --main-font-size: 1.375rem; /* 22px / 16px = 1.375rem */
  --subheading-size: 1.25rem; /* 20px / 16px = 1.25rem */
  --paragraph-size: 1.0625rem; /* 17px / 16px = 1.0625rem */
  --sidebar-text: 1.5rem; /* 24px / 16px = 1.5rem */
  --page-icon-size: 1.25rem; /* 20px / 16px = 1.25rem */

  --mobile-icon: 1.625rem; /* 26px / 16px = 1.625rem */

  --status-size: 4.375rem; /* 70px / 16px = 4.375rem */
}

/* Media queries for small devices (phones) */
@media screen and (max-width: 576px) {
  :root {
    /* Adjust font sizes for small devices */
    --main-font-size: 1.25rem; /* 20px / 16px = 1.25rem */
    --subheading-size: 1.125rem; /* 18px / 16px = 1.125rem */
    --paragraph-size: 0.875rem; /* 14px / 16px = 0.875rem */
    --sidebar-text: 1rem; /* 16px / 16px = 1rem */
    --page-icon-size: 1.5rem; /* 24px / 16px = 1.5rem */
  }
}

/* Media queries for medium devices (tablets) */
@media screen and (min-width: 577px) and (max-width: 768px) {
  :root {
    /* Adjust font sizes for medium devices */
    --main-font-size: 1.125rem; /* 18px / 16px = 1.125rem */
    --subheading-size: 1.125rem; /* 18px / 16px = 1.125rem */
    --paragraph-size: 0.875rem; /* 14px / 16px = 0.875rem */
    --sidebar-text: 1rem; /* 16px / 16px = 1rem */
    --page-icon-size: 1.5rem; /* 24px / 16px = 1.5rem */
  }
}

/* Media queries for large devices (desktops) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  :root {
    /* Adjust font sizes for large devices */
    --main-font-size: 1.375rem; /* 22px / 16px = 1.375rem */
    --subheading-size: 1.25rem; /* 20px / 16px = 1.25rem */
    --paragraph-size: 1rem; /* 16px / 16px = 1rem */
    --sidebar-text: 1.125rem; /* 18px / 16px = 1.125rem */
    --page-icon-size: 1.625rem; /* 26px / 16px = 1.625rem */
  }
}

/* Media queries for extra-large devices (large screens) */
@media screen and (min-width: 1025px) {
  :root {
    /* Adjust font sizes for extra-large devices */
    --main-font-size: 1.5rem; /* 24px / 16px = 1.5rem */
    --subheading-size: 1.375rem; /* 22px / 16px = 1.375rem */
    --paragraph-size: 1.125rem; /* 18px / 16px = 1.125rem */
    --sidebar-text: 1.375rem; /* 22px / 16px = 1.375rem */
    --page-icon-size: 1.625rem; /* 26px / 16px = 1.625rem */
  }
}


.my-col {
  color: var(--primaryColor);
}

.my-bg {
  background-color: var(--primaryColor);
}

.sidebar-text {
  font-size: var(--sidebar-text);
}

.main-text {
  font-size: var(--main-font-size);
}

.sub-text {
  font-size: var(--subheading-size);
}

.para-text {
  font-size: var(--paragraph-size);
}

.my-theme-text {
  color: var(--theme-text-color);
}

.my-theme-secondary {
  color: var(--theme-text-secondary-color);
}

.my-link {
  color: var(--primaryColor);
}

.my-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.my-btn {
  background-color: var(--primaryColor);
  border: none;
  color: var(--theme-text-color);
}

.my-mobile-icon {
  font-size: var(--mobile-icon);
}

.my-page-icon {
  font-size: var(--page-icon-size);
}

.ganesh {
  height: 500px;
  width: 350px;
  background-size: cover;
}

.hide-mobile {
  display: block;
}

.visible-mobile {
  display: none;
}

@media only screen and (max-width: 767px) {
  .visible-mobile {
    display: block;
  }
}

@media only screen and (max-width: 767px) {
  .hide-mobile {
    display: none;
  }
}